/* =========================
VARIÁVEIS
========================= */

:root {
--creme: #fdf8f2;
--black: #000000;
--black-100: #211f1f;
--gray-100: #f3f4f6;
--gray-300: #d0d5dd;
--gray-500: #667085;
--gray-700: #344054;
--yellow: #fed501;
}

/* =========================
RESET
========================= */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* =========================
HTML
========================= */

html {
font-size: 14px;
scroll-behavior: smooth;
}

/* =========================
BODY
========================= */

body {
max-width: 1512px;
margin: 0 auto;

background-color: var(--creme);
color: var(--black-100);

font-family: "Inter", sans-serif;
font-weight: 400;
}

/* =========================
ELEMENTOS GERAIS
========================= */

section {
width: 100%;
}

.container {
width: 100%;
max-width: 1020px;
margin: 0 auto;
}

h1,
h2,
h3 {
font-family: "Fraunces", serif;
font-weight: 300;
}

a {
color: inherit;
text-decoration: none;
}

ul {
list-style: none;
}

/* =========================
HEADER
========================= */

header {

padding: 20px 0;
}

header nav {
height: 44px;

width: 100%;
max-width: 1100px;
margin: 0 auto;

display: flex;
align-items: center;
justify-content: space-between;
}

.logo {
height: 24px;
}

nav ul {
display: flex;
align-items: center;
gap: 28px;
}

/* =========================
BOTÕES
========================= */

.button {
display: inline-block;

padding: 8px 16px;

border-radius: 24px;
}

.light-button {
border: 1px solid var(--black);
}

.dark-button {
background-color: var(--black);
color: var(--gray-100);
}

/* =========================
MAIN
========================= */

main {
width: 100%;
}

/* =========================
FOOTER

========================= */

footer {
background-color: var(--black);
color: var(--gray-100);
}

footer .container {
padding: 40px 0;
}